/* design and styling for the page, navbar, grid, and snake  */
body{
    background-color: #57080ce7;
    justify-content: center;
    align-items: center;
    margin: 0;
}

nav{
    border: 10px solid #d8d5e6;
    width: 30%;
    text-align: left;
    align-content: left;
    border-radius: 30%;
    border-style: double;
    display: block;
}

li{
    list-style: none;
    display: inline-block;
    color: #0a8fad;
    margin: 20px;
    font-size: 30px;

}

a{
    color: #0a8fad;
    font-size: 30px;
}

a:hover{
    color: limegreen;

    
}

h3 {
    text-align: center;
    color: #0a8fad;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

img{
    display: block;
    margin-left: 40%;
}
#p{
    padding-left: 10%;
    padding-right: 30%;
}
#snakepit{
    background-size: 100%;
    background-position: center;
    margin-left: 30%;
    height: 500px;
    width: 500px ;
    text-align: center;
    border: 10px solid #d8d5e6;
    border-style: double;
    opacity: 1;
    margin-top: 4px;    
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(25, 1fr);
}

.annnieHead, .food, .annie{
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 1;
    
}
.annie{
    background-color: limegreen;
    flood-color: chartreuse;
    border: 2px solid #595953;
}
.annieHead{
    background-color: limegreen;
}
.food{
    background-color: #ff00ff;
}