body{
    background-color: #57080ce7;
    justify-content: center;
    align-items: center;
    margin: 0;
}


nav{
    border: 10px solid #d8d5e6;
    width: 50%;
    text-align: left;
    align-content: left;
    border-radius: 30%;
    border-style:groove;
    display: block;
}

nav ul li{
    list-style: none;
    display: inline-block;
    color: #0a8fad;
    margin: 20px;
    font-size: 30px;

}

nav ul li a{
    color: #0a8fad;
    font-size: 30px;
}

nav ul li a:hover{
    color: rgb(255, 0, 0);
    
}
